<!-- ./views/index.handlebars -->
<!-- 樣板引擎在把 handlebars 檔案編譯轉換成 HTML 檔案的時候，可以為原本的 HTML 添加許多功能。其中一個功能，就是讓我們就可以把 JavaScript 的資料帶入樣板當中使用。 -->

{{!-- <h1>{{this.content}}</h1> --}}
<h1>Welcome to Homepage</h1>