/* css reset */

ul,
li {
  list-style-type: none;
  /* 拿掉 bullets */
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  /* 拿掉底線 */
  color: black;
}

/* style */

nav {
  height: 2rem;
  justify-content: space-between;
  display: flex;
}

nav ul {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.btn {
  background-color: lightblue;
  border-radius: 10px;
  width: 6rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.btn:active .btn {
  background-color: rgb(25, 20, 20);
  color: #fff;
}